@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@400;500&display=swap");
/* ------------------common styles */
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.container {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}
p {
    color: #6a859c;
    line-height: 1.8;
}
.section--dark {
    background-image: linear-gradient(to bottom right, #38a2d7, #561139);
}
.section--dark * {
    color: #ffffff;
}
.section--dark .title {
    color: #ffffff;
}
.section--dark .description {
    color: #e8e8e8;
}
.common-section {
    text-align: center;
    padding: 80px 0;
}
.title-container {
    margin-bottom: 50px;
}
.title {
    font-size: 30px;
    line-height: 36px;
    color: #676770;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.description {
    font-size: 16px;
    line-height: 20px;
    color: #676770;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.hide {
    display: none;
}
.fade-in {
    animation: fadeIn 0.5s linear forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ---------------header */
.header {
    position: fixed;
    background-color: #e7e7e7;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 100;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69b9ff;
}
.header__nav ul {
    display: flex;
}
.header__nav li + li {
    margin-left: 40px;
}
.header__nav a {
    font-size: 16px;
    color: #676770;
    transition: color 0.3s;
}
.header__nav a:hover {
    color: #0082f3;
}
.header__nav a:active {
    color: #064d8b;
}

/* ------------------- main */

/*  ----------------- welcome */

.welcome {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 195px 0;
    color: #ffffff;
    background-color: #222233;
    background-image: url("img/welcome-bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    height: 100vh;
}
.welcome__title {
    font-size: 70px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.welcome__links-container {
    margin-top: 60px;
}
.link {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px 35px;
    transition: 0.5s;
}
.welcome .link_sign {
    margin-right: 10px;
    background-image: linear-gradient(to bottom right, #121c84, #8278da);
    border: 1px solid transparent;
}
.welcome .link_sign:hover {
    transform: translateY(-3px);
}
.welcome .link_sign:active {
    background-color: #0358a3;
}
.welcome .link_learn-more:hover {
    transform: translateY(-3px);
}
.welcome .link_learn-more:active {
    background-color: #0358a3;
    border: 1px solid #0358a3;
}

/* --------------------- about */
.doinng {
    text-align: center;
}

.doing__cards-container {
    display: flex;
    justify-content: space-between;
}
.doing__card {
    width: 300px;
    border: 1px solid rgb(209, 207, 207);
    border-radius: 6px;
    padding: 40px 20px;
}
.doing__card img {
    width: 94px;
    height: 94px;
    object-fit: contain;
    margin-bottom: 20px;
}
.doing__card h4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 6px;
    color: #676770;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* --------- services */
.services__cards-container {
    display: flex;
    justify-content: space-between;
}
.services__card {
    width: 45%;
}
/* .services__card + .services__card {
    margin-left: 5%;
} */
.services__card h4 {
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.services__card img {
    margin-bottom: 20px;
}
.services__card p {
    margin-bottom: 20px;
}
.link_learn-more:hover {
    transform: translateY(-3px);
}
/* ------------- tab-section */

.tabs__nav {
    margin-bottom: 20px;
}
.tabs__nav button {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #92a0ad;
    border-radius: 4px;
    padding: 3px 30px;
    transition: all 0.3s;
}
.tabs__nav button + button {
    margin-left: 10px;
}
.tabs__nav button:hover {
    background-color: rgb(83, 98, 109);
}
.tabs__nav button.active {
    background-color: #2e80b6;
}
.tabs__item img {
    margin-bottom: 15px;
    max-height: 300px;
    width: 450px;
}
.tabs__item h4 {
    color: #676770;
    font-size: 32px;
    margin-bottom: 15px;
}
.tabs__desc {
    color: #6a859c;
    max-width: 720px;
    margin: 0 auto;
}

/* ----------- footer */
.footer__description {
    padding: 40px 0;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-container > * {
    width: 30%;
}
.footer__description h4 {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 20px;
}

.footer__description li {
    font-size: 14px;
    color: #6a859c;
    height: 35px;
    position: relative;
}

.footer__description li::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 10px;
    background-color: #d5d5d8;
}
.footer__description .footer__social a {
    margin-left: 10px;
}
.footer__description .footer__social li::after {
    width: calc(100% - 30px);
    left: 30px;
}
.footer__social img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.footer__copyright {
    text-align: center;
    background-image: linear-gradient(to bottom right, #38a2d7, #561139);
    padding: 40px 0;
    color: #676770;
}
.footer__copyright p {
    color: #ffffff;
}
.footer a:hover {
    color: #0082f3;
}

@media screen and (max-width: 900px) {
    .doing__cards-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .footer__description h4 {
        letter-spacing: 2px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 760px) {
    .common-section {
        padding: 40px 0;
    }
    .welcome__title {
        font-size: 50px;
    }
    .services__cards-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .services__card {
        min-width: 300px;
    }
    .tabs .tabs__nav button {
        display: block;
        margin: 5px auto;
        width: 50%;
        padding: 10px 30px;
    }
    .footer__description {
        padding-top: 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-container > * {
        width: 50%;
    }
    .footer__about {
        width: 70%;
    }
    .footer__social img {
        position: absolute;
        left: 0;
    }
    .footer__description .footer__social li::after {
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        font-size: 16px;
        letter-spacing: 0;
    }
    .header__nav li + li {
        margin-left: 6px;
    }
    .header__nav a {
        font-size: 13px;
    }
    .link {
        display: block;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .welcome .link_sign {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .doing__card {
        max-width: 300px;
    }
    .tabs .tabs__nav button {
        width: 75%;
    }
}
